/* Write your CSS here */
.team-match-container {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.team-image {
  width: 1300px;
  height: 300px;
  border-radius: 10px;
}
.latest {
  color: #ffffff;
  font-size: 56px;
}
.unorder-list {
  display: flex;
  flex-wrap: wrap;
}
.backButton {
  height: 35px;
  width: 80px;
  border-radius: 7px;
  background-color: blue;
  text-align: center;
  font-size: 15px;
  color: white;
}
